main {
    flex: 1;
    display: flex;
    
    
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

header {
    
    text-align: center;
  
    left: 0;
    right: 0;
    top: 0;
    background-color: black;
    color: white;
    
}



section {

    flex: 1;
    background-color: silver;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 25%;
    padding-top: 10%;
    
}

.centered {

    text-align: center;
}

.instructions {

    font-size: 2em;
}

footer {
    
    text-align: center;
    left: 0;
    right: 0;
    top: 0;
    background-color: black;
    color: white;
    
}

